$whidth: 1600px;
$advHeight: 341px;
$col-pink: #F16D7F;
$col-carbon: #222224;
$col-registration-txt: #B1B1B1;

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.container{
    width: $whidth;
    height: 100%;
    margin: 0 auto;
}

.header{
    background-color: #222222;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    height: 75px;
    margin-left: 230px;
    margin-right: 230px;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-element{
    display: block;
    padding: 15px 17px;  
}

.position-rel{
    position: relative;
}

.mega-box{
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    z-index: 1;
    top: 50px;
    left: 14px;
    display: none;
}

.mega-box:before{
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    background-color: #FFFFFF;
    position: absolute;
    top: -5px;
    left: 12px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}
    
.box-header{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding-top: 37px;
    padding-left: 34px;
}

.mega-item{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.mega-item:last-of-type{
    padding-bottom: 37px;
}

.item-header{
    color: $col-pink;
    padding-left: 33px;
    padding-top: 20px;
}

.menu-link{
    display: block;
    text-decoration: none;
    color: #6F6E6E;
    padding-left: 55px;
    padding-right: 55px;
}

.menu-link:hover{
    color: $col-pink;
}

.position-rel:hover .mega-box{
    display: flex;
    flex-direction:column;
}

.main{
    background-color: #F1E4E6;
    height: 764px;
}

.main-flex{
    display: flex;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 90%;
}

.brand-line{
    width: 12px;
    height: 92px;
    background-color: $col-pink;
}

.brand-text{
    margin-left: 16px;
}

.text-top{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.text-bottom{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.text-pink{
    color:$col-pink;
}

.sections{
    margin-top: 65px;
    margin-bottom: 96px;
}

.sections-flex{
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-box{
    width: 360px;
    height: 260px;
}

.section-box:last-of-type{
    margin-top: 30px;
    width: 1140px;
    height: 180px;
}

.section-link{
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designation{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.designation-mark{
    font-weight: 700;
    font-size: 24px;
    color: $col-pink;
}

.container-min{
    width: 1140px;
    margin: auto;
}

.item{
    width: 360px;
    position: relative;
    margin-bottom: 30px;
    background: #F8F8F8;
}

.item-heading{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}

.item-description{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;;
    text-align: center;
}


.item-flex{
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-link{
    display: block;
    text-decoration: none;
}

.item-link:hover{
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
}

.txt-flex{
    padding: 25px 27px 20px 17px;
    font-family: 'Lato';
    font-style: normal;
}

.item-title{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.item-value{
    margin-top: 13px;
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.item-price{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $col-pink;
}

.add-box{
    position: absolute;
    top: 180px;
    display: none;
    justify-content: center;
    width: 100%;
}

.item:hover .item-picture{
    filter: brightness(30%);
}

.item:hover .add-box{
    display: flex;
}

.add{
    border: 1px solid #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.txt-basket{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 11px;
}

.button-flex{
    display: flex;
    justify-content: center;
}

.button-allProduct{
    margin: 20px 0 95px 0;
    background: #F16D7F;
}

.link-allProduct{
    display: block;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 14px 39px;
    text-align: center;
}

.advantage{
    background-color: $col-carbon;
    height: $advHeight;
}

.adv-flex{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.adv-heading{
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.adv-txt{
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}

.adv-element{
    height: $advHeight;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 103px 0;
}

.footer-flex{
    display: flex;
    flex-direction: column;
}

.footer-top{
    height: 448px;
    display: flex;
    justify-content: space-between;
    background-image: url("/image/background.svg");
}

.figure-img{
    width: 96px;
    margin-bottom: 30px;
}

.figure-blockquote{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $col-carbon;
}

.figure-flex{
   width: 360px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 230px;
}

.subscription-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 330px;
}

.subscription-h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: $col-carbon;
}

.subscription-h3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: $col-carbon;
    margin-bottom: 32px;
}

.subscription-form{
    width: 360px;
    height: 50px;
    display: flex;
}

.button-subscribe{
    background: $col-pink;
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 100px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.input-mail{
    width: 260px;
    padding-left: 30px;
    background: #E1E1E1;
    border-radius: 25px 0 0 25px;
    outline: none;
}

.bottom-flex{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom{
    height: 80px;
    background: $col-carbon;
}

.text-copyright{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.media-box{
    height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.media-link{
    height: 100%;
    display: block;
    padding: 5px;
}

.media-link:last-of-type{
    padding-right: 0px;
}

.registration-flex{
    display: flex;
    margin: 64px 230px 96px 230px;
}

.reg-box{
    margin-right: 128px;
}

.header-reg-box{
    background-color: #F8F3F4;
    height: 148px;
}

.header-reg-flex{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $col-pink;
    margin-left: 230px;
}

.input-style{
    display: block;
    width: 360px;
    height: 45px;
    border: 1px solid $col-registration-txt;
    padding-left: 17px;
    padding-right: 5px;
    box-sizing: border-box;
    line-height: 40px;
    outline: none;
}

.input-style::placeholder{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: $col-registration-txt;
}

.lable-txt{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    margin-top: 31px;
    margin-bottom: 33px;
}

.radio-style{
    margin-right: 10px;
    width: 17px;
    height: 17px;
    vertical-align: middle;
}

.lable-txt:last-of-type  .radio-style{
    margin-left: 20px;
}

.leg-style{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 20px;
}

.fieldset-margin{
    margin-top: 31px;
    margin-bottom: 33px;
}

.input-margin{
    margin-top: 20px;
}
.password-comment{
    display: block;
    width: 360px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: $col-registration-txt;
    margin-top: 15px;
    margin-bottom: 39px;
}

.button-join{
    background-color: $col-pink;
}

.button-join-txt{
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 16px 29px;
}

.button-join-txt::after{
    padding-left: 20px;
    content: url("/image/arrow.svg");
}

.perks-style{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.perks-txt{
    margin: 21px 0;
}

.perks-li{
    margin: 16px 0;
    list-style-type: none ;
}

.perks-li::before{
    padding-right: 22px;
    content: url("/image/tick.svg");
}

.header-arr{
    height: 148px;
    background-color:#F8F3F4;
}

.header-arr-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.path-list{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-right: 230px ;
    display: flex;
}

.path-el{
    list-style-type: none;
    padding: 2px;
    text-align: center;
}

.path-el::after{
    content: "/";
}

.path-el:last-of-type::after {
    content: none;
    padding-right: 0;
}

.path-link{
    text-decoration: none;
    color: #636363;
    
    &_pink-and-weight{
        color: $col-pink;
        font-weight: 700;
    }
}

.description{
    position: relative;
    bottom: 65px;

}

.description-box{
    width: 1141px;
    height: 601px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    margin: 0 auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    padding: 65px 250px;
    box-sizing: border-box;
}

.description-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desc-txt-above-p{
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.desc-header{
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-bottom: 48px;
}

.desc-txt{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin-bottom: 32px;
}

.price{
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

hr{
    width: 100%;
    height: 1px;
    background-color: #EAEAEA;
    margin: 65px 0;
}

.btn-group{
    display: flex;
    justify-content: center;
}

.btn-dropdown{
    position: relative;
}

.btn{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    background-color: #FFFFFF;
    padding: 5px 11px;
    cursor: pointer;
}

.btn::after{
    content: url("/image/down.svg");
    padding-left: 9px;
}

.dropdown-box{
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #5E5E5E;
    top: 22px;
    right: 0;
    display: none;
    flex-direction: column;
    list-style-type: none;
}


.dropdown-link{
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: #5E5E5E;
    padding: 0 20px;
}

.btn-dropdown:hover .dropdown-box{
    display: flex;
    z-index: 2;
}

.dropdown-link:hover{
    color: $col-pink;
}

.btn-single{
    margin-top: 50px;
}

.btn-single-link{
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 56px 14px 24px;
    box-sizing: border-box;
    border: 1px solid #F26376;
}

.btn-single-link::before{
    content: url("/image/basket-pink.svg");
    padding-right: 23px;
    vertical-align: middle;
}

.footer-add-margin{
    margin-top: 100px;
}

.item-add-margin{
    margin-top: 65px;
}

.hr-pink{
    width: 63px;
    height: 3px;
    background-color: #EF5B70;
    margin: 12px 0;
}